<div class="examples-container">
  <p>
    works
  </p>

  <div class="icons-bar">
    <mat-icon matTooltip="Main menu">menu</mat-icon>
    <mat-icon matTooltip="Contacts" [matBadge]="2">favorite</mat-icon>
    <mat-icon matTooltip="Messages" [matBadge]="2" matBadgeColor="accent">person</mat-icon>
    <mat-icon matTooltip="More Options">more_vert</mat-icon>
  </div>

  <p>
    Inline icons <mat-icon inline>person</mat-icon> are also available!
  </p>

  <div class="icons-bar">
    <mat-icon style="color:green">check</mat-icon>
    <mat-icon color="warn">close</mat-icon>
  </div>

</div>

<style>
  .examples-container {
    max-width: 80%;
    margin: 40px auto;
  }
  .icons-bar {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
</style>
