<div class="examples-container">

  <h3 class="mat-display-1">Contacts</h3>

  <div class="row">
    <app-contact-selection-list
      class="col" [contacts]="contacts" (selectionChange)="selected = $event">
    </app-contact-selection-list>
    <ng-container *ngIf="selected">
      <mat-divider vertical="true"></mat-divider>
      <app-contact-details-list
        style="margin-left: 16px" class="col" *ngIf="selected" [contact]="selected">
      </app-contact-details-list>
    </ng-container>
  </div>


  <mat-list>
    <mat-list-item>
      <div style="flex: 1 1 100%" class="mat-header-cell">Name</div>
      <div style="flex: 1 1 40%" class="mat-header-cell">Position</div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item *ngFor="let contact of contacts">
      <div matLine>{{contact.name}}</div>
      <div matLine>{{contact.email}}</div>
      <div style="flex: 1 1 40%">{{contact.position}}</div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>


</div>


<style>
  .col {
    flex: 1;
  }

  .row {
    display: flex;
  }

  .spacer {
    flex: 1 1 0;
  }

  .stretch {
    flex: 1 1 100%;
  }

  .example {
    margin: 30px 0;
  }

  .examples-container {
    max-width: 80%;
    margin: 40px auto;
  }

</style>
